<h1 align="center">Add Entities </h1>
<h2 align="center">Please choose which entity you would like to create.</h2>

<form>
	<div align="center">
		<button id="addCity">City</button>
		<button id="addCharacter">Character</button>
		<button id="addBuilding">Building</button>
		<button id="addOutfit">Outfit</button>
		<button id="addItem">Item</button>
	</div>
</form>


<script src="/addButton.js"></script>

