<h1>View/Change character's items</h1>

<h3>Please choose a character</h3>

<table>
	<tbody>
	{{#each fortChar}}
	<tr>
		<td><a href="/addRelationship/{{character_id}}">{{name}}</a></td>
	</tr>
	{{/each}}
	</tbody>
</table>

