<h1 align="center">Trey Hoover CS 340</h1>
<h2 align="center">Fortnite Database</h2>


<form>
	<div align="center">
		<button id="addEntity">Add/Delete/Update Entities</button>
		<button id="addRelationship">Add/Delete/Update Item-Character (M-M) Relationships</button>
		<button id="filterCity">Filter buildings by city</button>
	</div>
</form>

<script src="/homeButton.js"></script>

